body{
    margin-left:20px ;
    font-size: 20px;
    font-weight: 400;
    background-color: bisque;
}
.section{
    text-align: justify;
padding: 50px 80px;
 background-color: rgb(8, 80, 80);
color:black;
}
p{
    font-size: 20px;
    text-align: justify;
}
#head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 40px;
color: aqua;
}